* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, #root {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

footer {
    padding: 10px;
    color: gray;
    border-top: 1px solid gray;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.main-container {
    flex: 1 1 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-title{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
}
.main-title > h1 {
    text-align: left;
    padding: 15px 0;
    padding-left: 15px;
    align-items: left;
}
.main-title > a {
    width: 60px;
    height: 100%;
    color: white;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    text-decoration: none;
}
.main-title > a > svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}


/* Scroll Bar */
*::-webkit-scrollbar {
  width: 5px;
  background: #222;
}
*::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 2px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
    font-family: 'F1';
    src: url('/Fonts/Formula1-Bold_web_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'F1';
    src: url('/Fonts/Formula1-Regular_web_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pixel';
    src: url('/Fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}