.dashboard {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.dash-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
}

.track-status {
    border-radius: 5px;
    width: auto;
    align-items: center;
    padding: 5px 10px;
}

.grandPrix-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.drivers-table {
    width: 100%;
    flex: 1 1 0;
    display: grid;
    grid-auto-rows: 1fr;
    align-items: stretch;
    overflow: auto;
}

/* Scroll Bar */
.drivers-table::-webkit-scrollbar {
    width: 5px;
    background: #222;
}
.drivers-table::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 2px;
}
.drivers-table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.dash-driver-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.dash-driver-row:hover {
    background-color: #111;
}

.dash-driver-row > * {
    min-height: fit-content;
}

.out {
    opacity: 0.4;
}

.dash-driver-row > h3{
    width: auto;
    padding: 10px 5px;
}

.drspit-feild {
    width: 4rem;
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 0.5rem;
    color: #444;
    border: solid 2px;
}

.pit {
    color: #2b7fff;
}

.ready {
    color: #888;
}

.deploy {
    color: #01a656;
}

.drspit-feild > h3 {
    font-size: 0.8rem;
    text-align: center;
}

.position-feild {
    width: 7rem;
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.position-feild > * {
    width: fit-content;
    text-align: left;
}

.tire-feild {
    width: 6.5rem;
    padding: 0 15px;
    text-align: Left;
    display: flex;
    flex-direction: column;
}

.tire-feild > h4, p {
    text-overflow: ellipsis;
}

.gap-feild {
    width: 6rem;
    padding: 0 15px;
    text-align: Left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.laptime-field {
    width: 6rem;
    padding: 0 15px;
    text-align: Left;
    display: flex;
    flex-direction: column;
}

.sector-feild {
    width: fit-content;
    padding-left: 10px;
    text-align: Left;
    display: flex;
    flex-direction: column;
}

.sector-time {
    display: flex;
    flex-direction: row;
}

.sector-time > h4 {
    margin: 0 5px;
}

.segment-row {
    display: flex;
    flex-direction: row;
    padding: 2px 0;
}

.segment {
    width: 1rem;
    height: 0.25rem;
    border-radius: 10%;
    margin: 0 2px;
}

.tire-feild > p, .gap-feild > p, .laptime-field > p, .sector-time > p {
    font-size: 0.9rem;
}

.tire-laps, .gap-small, .laptime-best, .sector-best  {
    opacity: 0.7;
}

.fastest {
    opacity: 1;
}

.danger {
    background-color: #300;
}

.previous {
    opacity: 0.8;
}