.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.live-timing {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.dash-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.standing-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.schedule {
    width: 100%;
    height: 100%;
    overflow: auto;
}