.schedule-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.schedule-header-title{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
}

.schedule-header-title > p {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
    background-color: black;
    border: none;
}

.schedule-header-title > select {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
    background-color: black;
    border: none;
    cursor: pointer;
}
.schedule-header-title > select:focus {
    background-color: #202020; /* 聚焦時稍微變亮 */
    outline: 2px solid darkred; /* 使用 F1 紅色作為聚焦框 */
    border-radius: 8px;
}
.schedule-header-title > select option {
    background-color: #202020;
    color: white;
    font-size: 1rem; /* 選項字體可以稍微小一點 */
}

.race-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 15px 5px;
}

.race-block {
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.2s ease;
}

.race-block:hover {
    background-color: #282828;
}

.race-block:hover h3 {
    text-decoration: underline;
    transition: all 0.2s ease;
}

.race-date > p {
    background-color: #303030;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.race-info > p {
    padding-left: 30px;
    color: gray;
}

.finish {
    opacity: 0.7;
}

.next {
    border: 2px solid darkred;
}

.race-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 5px;
}

.race-header > h3 {
    padding-left: 10px;
}