body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.standing-table {
    display: flex;
    flex-direction: row;
}